extends base
block content
    div.card
        img(src=imagePath)
        p=card.cardName
        p=card.cost
        p=card.attribute
        p=card.power
        p=card.counter
        p=card.color
        p=card.feature
        p=card.text
        p=card.getInfo
        br


