extends base
block content
    img(src=`/assets/images/user_card_img/${userCard.img}`)
    p=userCard.cardName
    p=userCard.cost
    p=userCard.attribute
    p=userCard.power
    p=userCard.counter
    p=userCard.color
    p=userCard.feature
    p=userCard.text
    p=userCard.getInfo

    br
    a(href=`${userCard.id}/edit`) Edit Card &rarr;
    br
    a(href=`${userCard.id}/delete`) Delete Card &rarr;


