extends base

block content
    div.card-info
        div.uploder-info
            span=`Uploaded by ${owner.userID}`
            span=userCard.createdAt

        div.card-info-img-container
            div.card-info-img-overlay
            img.card-info-img-real(src=userCard.img)

        table.card-info-table
            tbody
                tr
                    td.card-attribute 코스트
                    td.card-value=userCard.cost
                tr
                    td.card-attribute 속성
                    td.card-value=userCard.attribute
                tr
                    td.card-attribute 전투력
                    td.card-value=userCard.power
                tr
                    td.card-attribute 카운터
                    td.card-value=userCard.counter
                tr
                    td.card-attribute 색
                    td.card-value=userCard.color
                tr
                    td.card-attribute 소속
                    td.card-value=userCard.feature
                tr
                    td.card-attribute 입수정보
                    td.card-value=userCard.getInfo
                tr
                    td.card-attribute 효과
                    td.card-value=userCard.text



    if loggedInUser && (String(loggedInUser._id) === String(userCard.owner))
        div.container.go-edit-delete-button-container
            a.submit-button.go-edit-delete-button(href=`${userCard.id}/edit`)
                i.fa-solid.fa-pen-to-square
                small Edit Card
            a.submit-button.go-edit-delete-button(href=`${userCard.id}/delete`)
                i.fa-solid.fa-trash
                small Delete Card

    script(src="/assets/js/main.js")